*{
    margin: 0;
    padding: 0;
    font-family: Georgia, Times, 'Times New Roman', serif ;
}

body {
    background-image: linear-gradient(to bottom right, salmon, rgb(255, 183, 175));
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}
.title a{
    text-decoration: none;
    color: black;
    font-size: 3em;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
    height: 85vh;
}

section {
    background-color: rgb(233, 132, 125);
    width: calc(50% - 180px);
    height: 25vh;
    margin: 5vh 1vw;
    overflow: hidden;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

section h2{
    font-size: 2em;
    display: flex;
    justify-content: center;
}

section p {
    font-size: 1.2em;
    height: 100%;

}


footer {
    background-image: linear-gradient(to bottom right, rgb(255, 183, 175), salmon);
    color: #fff; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.footer-social {    
    margin-right: 20px;
    margin-left: 20px;
}


.social-icons a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media (max-width: 964px) {
    .title a {
        font-size: 2.5em;   
    }

    section {
        width: calc(50% - 100px); 
        height: 20vh;  
    }
}

@media (max-width: 576px) {
    .title a {
        font-size: 2em;    
    }

    .content {
        flex-direction: column;   
        height: auto;  
    }

    section {
        width: 90%;        
        height: auto;      
        margin: 10px 0;    
    }

    section h2 {
        font-size: 1.8em;  
    }

    section p {
        font-size: 1em;    
    }

    .footer-container {
        flex-direction: column;  
        align-items: center;
        text-align: center;
    }

    .footer-social {
        margin-bottom: 20px;  
    }

    .social-icons img {
        width: 25px;   
        height: 25px;
    }
}
