* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Times, 'Times New Roman', serif ;
}

body {
    background-image: linear-gradient(to bottom right, salmon, rgb(255, 183, 175));
}

.title {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}
.title a{
    text-decoration: none;
    color: black;
    font-size: 3em;
}

.content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    align-items: center;
    column-gap: 0;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
    height: 85vh;
    padding: 0.08vh 8.9vw;
}

section {
    background-color: rgb(233, 132, 125);
    width: 95%;
    height: 25vh;
    overflow: hidden;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}


section h2{
    font-size: 2em;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

section p {
    font-size: 1.2em;
    height: 100%;
}